<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.svg?v=<%= version %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TIPS</title>
  <link rel="stylesheet" type="text/css" href="/js/pdbe-molstar-light.css?v=<%= version %>" />
  <script type="text/javascript" src="/js/pdbe-molstar-plugin.js?v=<%= version %>"></script>
  <script type="text/javascript" src="/js/phyloview.main.js?v=<%= version %>"></script>
  <style>
    #app {
      width: 100%;
      text-align: center;
      color: var(--ep-text-color-primary);
    }
  </style>
</head>

<body style="margin: 0 0;">
  <div id="app" style="z-index: 10;"></div>
  <script type="module" src="/src/main.ts"></script>
</body>

<style>
  .custom-div {
    padding: 0 30px;
  }
</style>

</html>