/* @import './base.css'; */

.dot-heading {
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  /* 为圆点留出空间 */
}
.dot-heading::before {
  content: '';
  position: absolute;
  left: 0;
  /* 圆点距离左侧的距离 */
  top: 50%;
  /* 垂直居中 */
  transform: translateY(-50%);
  /* 垂直居中调整 */
  width: 10px;
  /* 圆点的宽度 */
  height: 10px;
  /* 圆点的高度 */
  background-color: #000000;
  /* 圆点的颜色 */
  border-radius: 50%;
  /* 圆点形状 */
}